body {
  background-color: #f4f2f0;
}

.navbar-fixed-top {
  z-index: -1;
}

img {
  max-height: 100%;
  max-width: 100%;
  image-orientation: from-image;
}

a, a:hover, a:active, a:visited, p, p:hover {
  text-decoration: none;
  color: #000000;
}

.couple-profile-page-container {
  background-color: inherit;
}

@media(max-width: 970px) {
  .desktop {
    display: none;
  }
  .couple-profile-header {
    max-width: 100%!important;
    
    margin-left: none;
  }
  .advertisement {
    width: 40%;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .ad-column {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .ad-2 {
    float: right;
  }
  .couple-profile-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 90%!important;
  }

  .couple-profile-container {
    padding: 50px;
  }
}

@media(max-width: 768px) {
  .advertisement {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 970px) {
  .mobile {
    display: none;
  }
}

@media(min-width: 1201px){
  .second-row-column {
    width: 18%!important;
  }
  .header-box {
    width: 58%;
  }
}



.disabled {
  pointer-events: none;
}

.name {
  margin: 1px 0px;
}

.container {
  margin: 25px 25px;
}

.valentines-content-container {
  margin: 50px auto;
}

.couple-exclusive-row {
  margin: 25px 15px;
  padding: 0px;
}

.second-row-top {
  margin-bottom: 50px;
}

.second-row-top {
  margin-bottom: 25px;
}

.couple-box {
  transition: background-image 1s ease;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

.header-box {
  height: 350px;
  border: 15px solid #c01702;
  padding: 0px;
}

.header-content {
  text-align: center;
  display: block;
  position: relative;
  height: 95%;
  width: 95%;
  /*border: 5px solid #f500d8;*/
  margin-left: auto;
  margin-right: auto;
  top: 2.5%;
    font-family: 'Playfair Display', 'serif';

}

.second-row-column {
  width: 19%;
}
.header-box {
  width: 60%;
}
.header-content {
  padding: 5px;
}

.couple-box-container {
  text-align: center;
  max-width: 75%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-box {
  height: 90%;
}

.header-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 25px;
}

.couple-profile-header-container, .couple-profile-footer-container {
  height: 500px;
}

.couple-profile-header-container {
  position: relative;
}

.couple-profile-header {
  position:absolute;
  top: 17%;
  display: inline-block;
  max-width: 15%;
  margin-left: 25px;
  text-align: center;
}

.couple-head {
  font-family: 'Playfair Display', 'serif';
  font-size: 22px;
  color: #c01702;
  margin-left: 2em;
}

.couple-subhead {
  font-size: 18px;
  color: #FFB7C5; /* Cherry Blossom Pink */
}

.couple-name {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
}

.couple-profile-container {
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: #E75480; /* Dark Pink */
}

.couple-profile-nav {
  width:  100%;
  list-style-type: none;
  margin-top: 100px;
}

.nav-link {
  text-align: left;
  padding: 15px;
  color: #000000;
  background-color: #e7e7e7;
}

.nav-link:hover, .active {
  background-color: #FC8EAC; /* Flamingo Pink */
}

.author{
  height: 50px;
  margin: 25px 0px;
}

.author-pic {
  display: block;
}

.ad-column {
      margin-top: 20px;

}

.advertisement {
  margin: 50px 5px;
}



/*Set Couple Images On Hover Here */
.casey-mckenna:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/ee332803-3077-44a1-bc90-1564cc79308e.sized-1000x1000.jpg?')!important;
}

.fish:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/71af09f7-b363-4e6c-af58-abf8af3075e9.sized-1000x1000.jpg?')!important;
}

.flannigan:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/4b510439-26b0-4ea9-a1a7-859647abca8a.sized-1000x1000.jpg?')!important;
}

.houck:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/16545a42-76b0-454d-ad0f-2255cff95a82.sized-1000x1000.JPG?')!important;
}

.jahnke:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/195f0656-07c9-4aa7-bbd1-3b17245b72a3.sized-1000x1000.jpg?')!important;
}

.josh:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/600e91ec-8e7b-4092-a1dc-389ea8700ac2.sized-1000x1000.jpg?')!important;
}

.kart:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/dcf3bf33-68d0-4848-b781-172ffea73941.sized-1000x1000.jpg?')!important;
}

.natalie-grant:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/ee5db583-5214-41d2-b79a-5a9e96df333a.sized-1000x1000.jpg?')!important;
}

.neva-sheldon:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/1427348a-a1f6-4a65-bbb0-c7f1d1e3d5f9.sized-1000x1000.jpg?')!important;
}

.nowicki:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/b1d7672e-3d0c-4c3a-aab5-40375ef3f899.sized-1000x1000.jpg?')!important;
}

.petra-craig:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/0d9be0d5-242f-4305-b3d5-49225413bd60.sized-1000x1000.jpg?')!important;
}

.sam-stephen:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/5165a5d6-eb92-48d7-95c0-7eb409c73749.sized-1000x1000.jpg?')!important;
}

.souichi-maddie:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/057ed57e-0370-4d45-8fb8-21205e103adb.sized-1000x1000.JPG?')!important;
}

.vannini:hover {
  background-image: url('https://snworksceo.imgix.net/tsn/c7139ebb-fb2a-4fdb-98a2-75b78205bac7.sized-1000x1000.jpg?')!important;
}