header {

}

.navbar-default {
	background-color: #216334;
	border: 0;
	height: 66px;
}

ul.nav li.dropdown a {
	color: #fff;
	padding: 23px 10px;
	font-size: 18px;
}

ul.nav li.dropdown a:hover {
	color: #fff;
	background-color: #194a27;
}

.navbar-collapse.collapse {
	display: none;
	border: 0;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapse.collapsing {
	display: block;
	background-color: #216334;
}

.navbar-collapse.collapse.in ul.nav li.dropdown a {
	padding: 10px;
}