@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.slide {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

h1 {
	margin: 0;
	font-family: 'Playfair Display', 'serif';
}

p {
	margin: 0;
}

.intro {
	text-align: center;
}

.intro h1 {
	font-size: 36px;
}
.intro h4 {
	font-family: 'Roboto';
	font-weight: bold;
	margin: 5px 0;
	font-size: 20px;
}

.intro p {
	margin-top: 0;
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
}

.infobox {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	margin-top: 30vh;
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto', 'sans-serif';
}

.prev {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 35vh;
	margin-bottom: 20px;
}

.prev a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/*background url management yay*/
.p1-one {
	background-image: url(https://s3.amazonaws.com/media.tsn/79418_ssd_bkc_marylandeasternshorebball_01_120915o.jpg);
}

.p1-two {
	background-image: url(https://s3.amazonaws.com/media.tsn/79419_cg_bkc_iowabasketball_07_011416o.jpg);
}

.p1-three {
	background-image: url(https://s3.amazonaws.com/media.tsn/79421_rs30205_dmm_fbc__fbcohiostate_11_120713o.jpg);
}

/*.p1-four {
	background-image: url(https://placebear.com/1400/650);
}*/

.p2-one {
	background-image: url(https://s3.amazonaws.com/media.tsn/79422_ssd_bkc_msuvseasternmich_11_112315o.jpg);
}

.p2-two {
	background-image: url(https://s3.amazonaws.com/media.tsn/79423_ssd_bkc_marylandbball_18_012316o.jpg);
}

.p2-three {
	background-image: url(https://s3.amazonaws.com/media.tsn/79420_rs39082_eah_bkc__elite8_48_032915_2o.jpg);
}

/*.p2-four {
	background-image: url(https://placekitten.com/1400/650);
}*/

.p3-one {
	background-image: url(https://s3.amazonaws.com/media.tsn/79425_rs37177_eah_bkc_bkcvsnorthwestern_03_011115o.jpg);
}

.p3-two {
	background-image: url(https://s3.amazonaws.com/media.tsn/79424_rs39091_eah_bkc__elite8_57_032915o.jpg);
}

.p3-three {
	background-image: url(https://s3.amazonaws.com/media.tsn/79428_ssd_bkc_mensbasketballmediaday_09_102715o.jpg);
}

/*.p3-four {
	background-image: url(https://placebear.com/1400/650);
}*/

.p4-one {
	background-image: url(https://s3.amazonaws.com/media.tsn/79427_ssd_bkc_mensbasketballmediaday_17_102715o.jpg);
}

.p4-two {
	background-image: url(https://s3.amazonaws.com/media.tsn/79429_rs35893_eah_bkc_midnightmadess49_102414o.jpg);
}

.p4-three {
	background-image: url(https://s3.amazonaws.com/media.tsn/79430_rs29552_dmm_bkc_bkcindianapa_06_110413o.jpg);
}

/*.p4-four {
	background-image: url(https://placekitten.com/1400/650);
}*/
