body {
  background-color: #f4f2f0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a, a:hover, a:active, a:visited, p, p:hover {
  text-decoration: none;
  color: #000000;
}

@media(max-width: 970px) {
  .desktop {
    display: none;
  }
  .couple-profile-header {
    max-width: 100%!important;
    
    margin-left: none;
  }
  .advertisement {
    width: 40%;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .ad-column {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .ad-2 {
    float: right;
  }
  .couple-profile-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 90%!important;
  }

  .couple-profile-container {
    padding: 50px;
  }
}

@media(max-width: 768px) {
  .advertisement {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 970px) {
  .mobile {
    display: none;
  }
}

@media(min-width: 1201px){
  .second-row-column {
    width: 18%!important;
  }
  .header-box {
    width: 58%;
  }
}



.disabled {
  pointer-events: none;
}

.name {
  margin: 1px 0px;
}

.container {
  margin: 25px 25px;
}

.valentines-content-container {
  margin: 50px auto;
}

.couple-exclusive-row {
  margin: 25px 15px;
  padding: 0px;
}

.second-row-top {
  margin-bottom: 50px;
}

.second-row-top {
  margin-bottom: 25px;
}

.couple-box {
  transition: background-image 1s ease;
  background-size: contain;
  height: 150px;
}

.header-box {
  height: 350px;
  border: 15px solid #c01702;
  padding: 0px;
}

.header-content {
  text-align: center;
  display: block;
  position: relative;
  height: 95%;
  width: 95%;
  border: 5px solid #f500d8;
  margin-left: auto;
  margin-right: auto;
  top: 2.5%;
}

.second-row-column {
  width: 19%;
}
.header-box {
  width: 60%;
}
.header-content {
  padding: 5px;
}

.couple-box-container {
  text-align: center;
  max-width: 75%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-box {
  height: 90%;
}

.header-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 25px;
}

.couple-profile-header-container, .couple-profile-footer-container {
  height: 300px;
}

.couple-profile-header-container {
  position: relative;
}

.couple-profile-header {
  position:absolute;
  top: 17%;
  display: inline-block;
  max-width: 15%;
  margin-left: 25px;
  text-align: center;
}

.couple-head {
  font-size: 22px;
  color: #ffffff;
}

.couple-subhead {
  font-size: 18px;
  color: #FFB7C5; /* Cherry Blossom Pink */
}

.couple-name {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
}

.couple-profile-container {
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: #E75480; /* Dark Pink */
}

.couple-profile-nav {
  width:  100%;
  list-style-type: none;
  margin-top: 100px;
}

.nav-link {
  text-align: left;
  padding: 15px;
  color: #000000;
  background-color: #e7e7e7;
}

.nav-link:hover, .active {
  background-color: #FC8EAC; /* Flamingo Pink */
}

.author{
  height: 50px;
  margin: 25px 0px;
}

.author-pic {
  display: block;
}

.ad-column {
  margin-top: 150px;
}

.advertisement {
  margin: 50px 5px;
}



/*Set Couple Images On Hover Here */
.couple-box:hover {
  background-image: url('../img/placeholders/placeholder2.png')!important;
}



