@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);

.cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.lg-img {
	height: 60vh;
}

.md-img {
	height: 30vh;
}

.intro .info {
	margin-top: 20vh;
}

.info {
	margin-top: 50vh;
	color: white;
	text-align: right;
	float: right;
}

.info-md{
	margin-top: 0;
	text-align: center;
	color: #333;
	z-index: 999;
	font-size: 24px;
}

.info-md h2{
	font-size: 36px;
}

.info a {
	color: white;
}

.p2-one .info {
	margin-top: 60vh;
}

.visible-xs {
	display: none;
}

h1 {
	font-family: 'Playfair Display', 'serif';
	font-size: 5em;
	margin-bottom: 0;
}

h2 {
	font-family: 'Playfair Display', 'serif';
	font-size: 2em;
	margin-bottom: 0;
}

h3 {
	font-family: 'Roboto', 'serif';
}

.sidebar {
	background-color: #eee;
	padding: 15px;
}

.sidebar p {
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
}

.dropcap:first-child:first-letter {
	font-size: 60px;
	float: left;
	padding: 15px 5px 5px 0;
}

.blockquote {
	font-family: 'Lora', 'serif';
	font-size: 28px;
	font-weight: 700;
	width: 90%;
}

.blockquote-footer {
	font-family: 'Lora', 'serif';
	font-size: 14px;
	font-weight: 700;
	width: 30%;
}

.pullquote {
	font-family: 'Lora', 'serif';
	font-size: 24px;
	font-weight: 700;
	width: 30%;
}

.pullquote.right {
	float: right;
	padding: 10px 0 10px 10px;
}

.pullquote.left {
	float: left;
	padding: 10px 10px 10px 0;
}

@media(min-width:769px) {
	.info h1{
		margin-top: 300px;
	}
}
@media (max-width:768px){
	.cover {
		height: 60vh;
	}
	.info {
		margin-top: 0;
		text-align: center;
		color: #333;
		z-index: 999;
		font-size: 24px; 
	}
	.info a {
		color: #333;
	}
	.lg-img {
		height: 40vh;
	}
	.hidden-xs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
	.sidebar {
		margin: 15px;
	}

	.margin-bottom {
		margin-bottom: 12px;
	}

	h1.small {
		font-size: 36px;
	}

	h2.small {
		font-size: 24px;
	}
}

p {
	font-family: 'Lora', 'serif';
	font-size: 18px;
	line-height: 28px;
	margin: 9px auto 9px auto;
}

figcaption {
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
	color: #808080;
}

/* shared link */
.shared_link {
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
}

a.shared_link:hover {
    text-decoration: none;
}

/*background url management yay*/
/*Crying first picture*/
.intro {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/snwceomedia/tsn/b9d813cb-b178-438a-85b0-27510577db41.original.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/snwceomedia/tsn/b9d813cb-b178-438a-85b0-27510577db41.original.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/snwceomedia/tsn/4476cf9a-d748-4f49-8437-80c806a0cce1.sized-1000x1000.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

/* Smashed glass */
.p1-one {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85487_cmg_fea_former_homeless_lady_liz_owczarzak_01241701p.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85487_cmg_fea_former_homeless_lady_liz_owczarzak_01241701p.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85487_cmg_fea_former_homeless_lady_liz_owczarzak_01241701p.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

/* holding LCC diploma */
.p1-two {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85497_cmg_fea_former_homeless_lady_liz_owczarzak_01241714p.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85497_cmg_fea_former_homeless_lady_liz_owczarzak_01241714p.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85497_cmg_fea_former_homeless_lady_liz_owczarzak_01241714p.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

/*quote book*/
.p1-three {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85500_cmg_fea_former_homeless_lady_liz_owczarzak_01241715p.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85500_cmg_fea_former_homeless_lady_liz_owczarzak_01241715p.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85500_cmg_fea_former_homeless_lady_liz_owczarzak_01241715p.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

/*head on car*/
.p1-four {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85495_cmg_fea_former_homeless_lady_liz_owczarzak_01241712p.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85495_cmg_fea_former_homeless_lady_liz_owczarzak_01241712p.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85495_cmg_fea_former_homeless_lady_liz_owczarzak_01241712p.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

/*watson in chair*/
.p1-five {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85503_cmg_fea_former_homeless_lady_liz_owczarzak_01241719p.jpg); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85503_cmg_fea_former_homeless_lady_liz_owczarzak_01241719p.jpg); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.9) 100%), url(https://s3.amazonaws.com/media.tsn/85503_cmg_fea_former_homeless_lady_liz_owczarzak_01241719p.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: 20%;
}

.img-responsive {
	margin-top: 25px;
	margin-bottom: 25px;
}

.infogram-embed {
	margin-top: 25px;
}




